# vim
*.swp
# emacs
*~
#VScode
.vscode
# Mac
.DS_Store

.bundle/cache
dotfiles/.config/*

# whitelist
!dotfiles/.config/git
!dotfiles/.config/fish
dotfiles/.config/fish/completions
dotfiles/.config/fish/conf.d
dotfiles/.config/fish/functions/*
dotfiles/.config/fish/fish_variables
dotfiles/.config/fish/fishfile
